.movie-card {
    margin-bottom: 1.5em;
    img {
        max-width: 100%;
    }
    &__details {
        opacity: 0;
        visibility: hidden;
    }
    &:hover &__details {
        opacity: 1;
        visibility: visible;
    }
}