@import '../../Utilities/variables';

.movie-page {
    &__hero {
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30vh;
        width: 100%;

        @media (orientation: landscape) {
            padding-top: 100vh;
        }

        @media (min-width: $small-medium-up) and (orientation: landscape) {
            padding-top: 40vh;
        }

        @media (min-width: $large-up) {
            padding-top: 50vh;
        }
    }

    &__details {
        text-align: left;
        display: flex;

        @media (min-width: $small-medium-up) {
            padding: 0 10%;
            display: flex;

            >div {
                margin-left: 20px;
            }
        }

        &--poster {
            position: relative;
            display: none;

            img {
                max-width: initial;
            }

            @media (min-width: $small-medium-up) {
                top: -5em;
                display: block;
            }
        }

        &--title {
            font-size: 2em;
            font-weight: 700;
        }
    }

    &__cast {
        margin: 2em 0;
    }

    &__trailer {

        // Make Youtube vides responsive
        iframe {
            width: 100%;
        }
    }
}