.search {
    input {
        border-radius: 1px;
        padding: 20px 11px;
    }
    &__results {
        background-color: transparent;
        border: 1px solid #e5e5ea;
        padding: 10px;
    }
}