.search {
    input {
        border-radius: 1px;
        padding: 20px 11px;
    }
    &__results {
        position: relative;
        background-color: #263238;
        color: #fff;
        border: 1px solid #e5e5ea;
        &-wrapper {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background-color: #263238;
        }
    }
}